<div id="gitmentContainer"></div>
<link rel="stylesheet" href="<%=theme.gitment.css_path%>">
<script src="<%=theme.gitment.js_path%>"></script>
<script>
var gitment = new Gitment({
  id: '<%=number%>',
  owner: '<%=theme.gitment.owner%>',
  repo: '<%=theme.gitment.repo%>',
  oauth: {
    client_id: '<%=theme.gitment.oauth_client_id%>',
    client_secret: '<%=theme.gitment.oauth_secret%>',
  },
})
gitment.render('gitmentContainer')
</script>
